//Global padding for the form.
$bb-form-padding: 1rem;
//Sets the margin between cards.
$bb-form-card-margin: 0.5rem;
//Applies the margin to column gutters.
$grid-column-gutter: $bb-form-card-margin / 2;

//Need to import after declaring variables.
@include foundation-everything;

//Styles a generic card.
.card {
  margin-bottom: $bb-form-card-margin;
  border: 1px solid $medium-gray;
  position: relative;
  //Vertically aligns the headline and buttons.
  h3,
  a {
    @include v-align-middle;
  }
}

//Variation of the card.
.card-padded {
  padding: $bb-form-padding;
  height: 4rem;
}

//Removes defualt button margins.
.cta-left,
.cta-right {
  margin: 0;
}

//v-align-middle overrides float-left / float-right. We position these absolutely.
.cta-left {
  left: $bb-form-padding;
}

.cta-right {
  right: $bb-form-padding;
}

//Pads the input field.
.my-input-area {
  padding: $bb-form-padding;
  position: relative;
  input {
    margin-top: 1rem;
    padding-left: 2.5rem;
  }
}

.input-icon {
  @include v-align-middle;
  left: 1.75rem;
  color: $medium-gray;
}

//Active state for input area.
.my-input-area.is-active {
  background: $medium-gray;
  box-shadow:inset 4px 0px 0px 0px $dark-gray;
}