@charset 'UTF-8';

@import 'settings';
@import '../../scss/foundation';

@include foundation-everything;

.card{
  position:relative;
  display: inline-block;
  float: left;
  height: 450px;
  width: 33%;
  border: 1px solid black;
  margin: 1px;
  background-color: $primary-color;
  &.is-stacked{
    width: 93%;
    position: absolute;
  }
  &.is-stacked:first-of-type{
    z-index: 5;
    transform: translate(0, 15%);
  }
  &.is-stacked{
    transform: scale(.8);
  }
}
